@charset "UTF-8";
html{
    font-size: 100%;
}
h1{
    font-size:2rem;
    text-align: center;    
}
h2{
    font-size:1.5rem;
}
h1, h2 {
    background-color: #f0f0f0; /* 好みの背景色に変更 */
    color: #333333; /* 好みの文字色に変更 */
}

